@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

	<title>Bienvenido - Ingeniería de Software</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.container {
			width: 80%;
			margin: auto;
			text-align: justify;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
		}

		p {
			margin-top: 20px;
		}
	</style>
	</head>
	<body>
	<div class="container">
		<h1>Bienvenido - Ingeniería de Software</h1>
		<p>En la carrera de Ingeniería de Software, el conocimiento es un elemento crucial para el éxito académico y profesional. Sin embargo, el paso del tiempo y la cantidad de información que se maneja pueden hacer que ciertos conceptos y/o habilidades se olviden con facilidad. En este contexto, es esencial contar con un lugar donde los estudiantes puedan revisar documentos, archivos y trabajos pasados para recordar las bases teóricas y prácticas de la carrera.</p>
		<p>Además, hay estudiantes que pueden no ser tan organizados en su forma de trabajar o estudiar, lo que dificulta la retención de información relevante. Por tanto, la creación de una herramienta que permita subir y consultar información de la carrera se vuelve imprescindible.</p>
		<p>Esta página web tendría como objetivo principal proporcionar un lugar centralizado donde los estudiantes de todos los semestres de Ingeniería de Software puedan compartir información y conocimientos importantes. Esto permitiría no solo la retención del conocimiento, sino también el acceso a éste por parte de personas de cualquier semestre de la carrera.</p>
		<p>Asimismo, la página web tiene como uno de sus objetivos el generar un apoyo de estudiante a estudiante, lo que puede ayudar a comprender mejor los conceptos difíciles.</p>
		
	</div>
	<centro><img src="~/img/Contacto.jpg" class="img-fuid" /></centro>
</body>
</html>

